html {
  scroll-behavior: smooth;
}

@keyframes zoomFade {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.zoom-fade {
  animation: zoomFade 2s ease-out forwards;
}

@keyframes fadeUp {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.fade-up {
  animation: fadeUp 0.8s ease-out forwards;
}
