{% extends "index.html" %}
{% load static %}
{% block extra_head %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}" />
<link rel="stylesheet" href="{% static 'user/css/login-signup.css' %}" />
{% endblock%}

{% block content %}
<div class="login-form-body w-full min-h-screen flex items-center justify-center">
    <div class="form-body  max-w-md border p-6 rounded-md shadow-md ">
        <h2 class="form-title">Forgot Password</h2>

        <form method="POST" class="form-content flex flex-col gap-6">
            {% csrf_token %}
            {% if error %}
            <p class="text-red-500">{{ error }}</p>
            {% endif %}

            {% if success %}
            <p class="text-green-500">{{ success }}</p>
            {% endif %}

            {% if token %}
            <div class="input-group gap-5">
                <input type="hidden" name="token" value="{{ token }}" class="input-field">
                <input type="password" name="new_password" placeholder="New Password" class="input-field" required>
                <input type="password" name="confirm_password" placeholder="Confirm Password" class="input-field"
                    required>
                <button type="submit" class="submit-button">Reset Password</button>
            </div>
            {% else %}
            <div class="input-group gap-5">
                <input type="email" name="email" placeholder="Enter your email" class="input-field" required>
                <button type="submit" class="submit-button">Send Reset Link</button>
            </div>
            {% endif %}
        </form>

    </div>
</div>
{% endblock%}