:root {
  --neon-green-600: #02BF41;
  --gray-800: #1f2937;
}

/* Scrollbar styling */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--gray-800);
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--neon-green-600);
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #038C3B;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--neon-green-600) var(--gray-800);
}
